.Task {
    display: flex;
    margin: 0.125em;
    padding: 0.125em;
    border-bottom: 1px solid black;
}

.Task__Content{
    display: flex;
    margin: 0 1em;
}
.Task__Content__Title{
    display: flex;
    align-items: center;
}

.Task__Buttons{
    display: flex;
}

.Task__Buttons > div{
    margin: 0 0.5em;
}

.Task__Right,
.Task__Left,
.Task__Buttons > div {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
